
*{
    list-style: none;
    text-decoration: none;
    
    }
    body{
        
        
        text-decoration: none;
    }
    .navigation{
        position: fixed;
        background-color:whitesmoke;
        border: 1px solid whitesmoke;
        margin-left: 200px;
        display: flex;
       
    }
    input{
        background-color: #05a8b7;
       
        border: none;
        border-radius: 7px;
        height: 25px;
        color: white;
    }
    .navigation img{
    width: 29px;
    
        
    }
    .nav input{
        margin-top: 10px;
    }
    .nav{
        display: flex;
        margin-left: 800px;
        gap: 5px;
    }
    select{
        background-color: whitesmoke;
        border: none; 
        width: 20px;  
    }
    .AA{
        display: flex;
        gap: 20px;
    }
    
    .gauche{
        width: 200px;
        height: 100vh;
        border: 1px solid whitesmoke;
        position: fixed;
    top: 0;
    left: 0;
    }
    img{
        width: 45px;
        height: 45px;
        border: 1px solid #ccc;
        border-radius: 15px;
    }
    .gauche ul li a{
        padding-top: 10px;
        display: grid;
        gap: 10px;
    
        
    }
    button{
        margin-top: 0px;
        padding: 10px;
        background-color: #05a8b7;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        width: 100%;
    }
    ul a{
        color: black;
        margin-top: 12px;
    }
    .MILLIEU{
    
        margin-left: 100px;
        padding: 120px;
    }
    .adja{
        border: 2px solid whitesmoke;
        background-color:rgb(245, 243, 238);
        display: flex;
        gap: 10px;
    }
    
    .blok{
        display: block;
        margin-left: 15px;
    } .ami{
        border: 2px solid whitesmoke;
        display: flex;
        gap: 15px;
    }
    .but{
        margin: 5px;
        padding: 5px;
        width: 95px;
        height: 38px;
        border-radius: 0px;
    }
    .bas{
        border: 2px solid whitesmoke;
        padding: 15px;
    }
    input{
        border-radius: 2px;
        background-color: whitesmoke;
        border: 1px solid black;
        color: #05a8b7;
        width: 50%;
    }
    .buttu{
        padding-top: 10px;
        width: 30%;
    }